div.new_cart_item {
  height: 200px;
  max-width: 180px;
  border-top: 1px solid black;
  border-left: 5px solid black;
  border-bottom: 1px solid black;
  background-color: var(--clr-white);
}
div.new_cart_item figure {
  position: relative;
}
div.new_cart_item figure img {
  top: 0;
  scale: 1.2;
  width: 100px;
  right: -40px;
  height: 190px;
  position: absolute;
}
div.new_cart_item figure section {
  padding-top: 15px;
}
div.new_cart_item figure section h4 {
  width: 120px;
  padding-left: 5px;
  color: var(--clr-white);
  font-weight: var(--fw-light);
  background-color: var(--clr-black);
}
div.new_cart_item figure figcaption {
  max-width: 120px;
  margin-top: 50px;
  padding-left: 5px;
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
}
div.new_cart_item figure section p {
  padding-left: 5px;
  font-size: var(--fs-small);
}
div.new_cart_item figure section p span {
  padding-inline: 5px;
  border-left: 2px solid rgba(0, 0, 0, 1);
}
