:root {
  /* font-family */
  --ff-base: 'Poppins', sans-serif;
  --ff-accent: 'DM Serif Display', serif;

  /* font-weight */
  --fw-extra-light: 300;
  --fw-light: 400;
  --fw-regular: 500;
  --fw-bold: 600;
  --fw-extra-bold: 700;
  --fw-black: 800;
  --fw-extra-black: 900;

  /* font size */
  --fs-x-lare: 1.5rem;
  --fs-lare: 1.25rem;
  --fs-normal: 1rem;
  --fs-medium: 0.875rem;
  --fs-small: 0.75rem;
  --fs-x-small: 0.625rem;
  --fs-xx-small: 0.5rem;

  /* color */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-base: #fff8eb;
  --clr-navy-blue: #002642;
  --clr-dark-navy-blue: #050a24;
  --clr-gold-black: #181010;
  --clr-red-hightlight: #eb1616;
  --clr-red-hightlight-light: #ff671b;

  /* padding */
  --pd-base: 1.5em;
  --pd-base-1: 1em;
  --pd-base--half: 0.5em;
  --pd-cart-title: 10em;

  /* width */
  --wd-base: 1440px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);
}
body {
  font-family: 'Poppins', sans-serif;
}
